body {
  width: 960px;
  background-color: peachpuff;
  color: black;
  font-family: Helvetica, sans-serif;
  margin: auto;
}

header {
  background-color: rgb(49, 49, 49);
  width: 950px;
  height: 200px; 
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border-style: none;
}

#aboutme {
  width: 800px;
  height: 200px;
  float: left;
  box-sizing: border-box;
  border-style: none;
}
#profilephoto {
  width: 150px;
  height: 200px;
  float: left;
  box-sizing: border-box;
  border-style: none;
}

img {
  min-width: 135px;
  max-width: 135px;
  min-height: 185px;
  max-height: 185px;
  display: block;
  margin: 7.5px 7.5px;
  box-sizing: border-box;
  border-style: none;
}

h1 {
  width: 800px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  vertical-align: center;
  font-size: 3em;
  color: goldenrod;
  background-color: none;
  margin: auto;
  box-sizing: border-box;
  border-style: none;
}

#first-paragraph {
  max-width: 100%;
  max-height: 100px;
  text-align: center;
  color: rgb(226, 222, 222);
  font-size: 1em;
  font-weight: bold;
  margin: auto;
  box-sizing: border-box;
  border-style: none;
}

.navbar {
  max-height: 30px;
  line-height: 30px;
  vertical-align: bottom;
  text-align: justified;
  border-style: none;
  float: bottom right;
}

a {
  color: goldenrod;
  display: box;
  width: 200px;
  height: 20px;
  box-sizing:  border-box;
  border-style: none;
  float: right;
  text-align: center;
  padding: 15px 30px;
  line-height: 20px;
  margin-bottom: 5px;
}

a:link {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

footer {
  font-family: serif;
  color: rgb(32, 31, 31);
}


.subheading {
  width: 950px;
  font-size: 1.5em;
  font-weight: bold;
  color: goldenrod;
  box-sizing: border-box;
  background-color: rgb(49, 49, 49);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.headinginsidelist {
  font-weight: bold;
  margin-left: 20px;
}

.unordered {
  margin-top: 20px;
}

.goals {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(37, 8, 37);
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#faveplants {
  font-size: 1.5em;
  font-weight: bold;
}
ul {
  list-style-type: square;
  margin-left: 20px;
}

ol {
  list-style-type: decimal;
  margin-left: 20px;
}